@import "tailwindcss";

@theme {
  --color-navyBlue: #0a192f;
  --color-goldAccent: #d4af37;
  --color-softSilver: #f3f4f6;
  --color-pureWhite: #ffffff;

  --font-serif: var(--font-advercase), serif;
  --font-sans: var(--font-google-sans-flex);

  --radius-ui: 16px;
  --radius-pill: 999px;
}

@layer base {
  body {
    background-color: var(--color-pureWhite);
    color: var(--color-navyBlue);
  }
}
